<%- include('includes/head') %>
     <%- include('includes/navbar') %>

          <body>
               <div class="container">
                    <div class="container-agenda">
                         <div class="titles">
                              <h1>Agenda</h1>
                              <p>Seus Contatos estão abaixo</p>
                         </div>

                         <%- include('includes/messages')%>
                              <% if (contatos.length > 0 ) {%>
                                   <table class="table">
                                        <% contatos.forEach(contato=> { %>
                                             <tr>
                                                  <td>
                                                       Nome: <%= contato.nome %>
                                                  </td>
                                                  <td>
                                                      Sobrenome:  <%= contato.sobrenome %>
                                                  </td>
                                                  <td>
                                                      Email: <%= contato.email %>
                                                  </td>
                                                  <td>
                                                      Telefone: <%= contato.telefone %>
                                                  </td>

                                                  <td><a class="editar" href="/contato/index/<%= contato._id %>">Editar</a></td>
                                                  <td><a class="deletar" href="/contato/delete/<%= contato._id %>">Excluir</a></td>
                                             </tr>

                                             <% }); %>
                                   </table>
                                   <% } else { %>
                                        <h1>Você não tem contatos</h1>

                                        <% } %>

                    </div>
               </div>
               <%- include('includes/footer') %>