<%- include('includes/head') %>
     <%- include('includes/navbar') %>
          <div class="container">
               <div class="display-sub-head">
                    <h1>Olá, <%= user.name %></h1>
                    <p>Voce precisa sair para criar outra conta</p>
               </div>

               <%- include('includes/messages') %>

          </div>
          <%- include('includes/footer') %>